<h1>Flopbox</h1>

<div class="header-panel d-flex m-1 mb-4 p-2">
  <div class="p-2 col-6">
    We have all the best flops in the business!
    <br />
    Choose a flop to rent
  </div>

  <div class="card p-2 col-6">
    <my-rental-list
      [rentalList]="rentalList"
      (clearRentalList)="onClearRentalList()"
    ></my-rental-list>
  </div>
</div>

<div class="movie-panels">
  <my-movie-tile
    *ngFor="let flop of flopData"
    [movie]="flop"
    (rentClick)="onRentMovie(flop)"
  ></my-movie-tile>
</div>
